@model logReg.Models.Index

<form asp-controller="Home" asp-action="Register" method="post">
    <label asp-for="user.firstName"></label>
    <input asp-for="user.firstName">
    <label asp-for="user.lastName"></label>
    <input asp-for="user.lastName">
    <label asp-for="user.email"></label>
    <input asp-for="user.email">
    <label asp-for="user.password"></label>
    <input asp-for="user.password">
    <label asp-for="user.confirmPassword"></label>
    <input asp-for="user.confirmPassword">
    <input type="submit" value="Create User">
</form>

<form asp-controller="Home" asp-action="login" method="post">
    <label asp-for="login.firstName"></label>
    <input asp-for="login.firstName">
    <label asp-for="login.password"></label>
    <input asp-for="login.password">
    <input type="submit" value="Login">
</form>