@model logReg.Models.ViewUser

<form asp-controller="Home" asp-action="Register" method="post">
    <label asp-for="firstName"></label>
    <input asp-for="firstName">
    <label asp-for="lastName"></label>
    <input asp-for="lastName">
    <label asp-for="email"></label>
    <input asp-for="email">
    <label asp-for="password"></label>
    <input asp-for="password">
    <label asp-for="confirmPassword"></label>
    <input asp-for="confirmPassword">
    <input type="submit" value="Create User">
</form>

<form asp-controller="Home" asp-action="login" method="post">
    <label asp-for="firstName"></label>
    <input asp-for="firstName">
    <label asp-for="password"></label>
    <input asp-for="password">
    <input type="submit" value="Login">
</form>